body {
    font-family: Helvetica, Roboto, sans-serif;
    font-size: 1.1em;
}
h1 {
    margin: auto;
    display: block;
    width: fit-content;
    margin-top: 100px;
}
form {
    width: fit-content;
    margin: auto;
    margin-top: 100px;
}
input {
    outline: none;
    width: 200px;
    border: none;
    border-bottom: solid lightgrey;
    transition: border 200ms;
    margin-right: 10px;
}
input:focus {
    border-bottom: solid grey;
}
input:nth-child(3){
    width: 400px
}
button {
    background-color: white;
    border:none;
    margin-top: 10px;
    transition: all 100ms;
}
button:hover {
    transform: scale(1.2);
}
a {
    text-decoration: none;
}
p {
    font-size: 0.8em;
}
.wrapper {
    max-width: 80%;
    margin: auto;
}

select {
    background: none;
    border: none;
    border-bottom: solid lightgray;
    transition: border 100ms;
}

select:focus {
    border-bottom: solid grey;
}